apiVersion: v1
kind: Service
metadata:
  name: bitcoin-node-headless
  labels:
    app: bitcoin-node
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: bitcoin-node
  ports:
    - name: rpc
      port: 18443
      targetPort: rpc
    - name: p2p
      port: 18444
      targetPort: p2p
---
apiVersion: v1
kind: Service
metadata:
  name: bitcoin-node-rpc
  labels:
    app: bitcoin-node
spec:
  type: ClusterIP
  selector:
    app: bitcoin-node
  ports:
    - name: rpc
      port: 18443
      targetPort: rpc
